<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> WELCOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

<h1> Shop ViaTouchline</h1>
  
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg="8">
          <ion-card>
          <div class = "item item-body">
             <img class = "full-image" src = "./assets/img/wlc.jpg">
          </div>
        </ion-card>
        </ion-col>
      </ion-row>
   

      <ion-row>
        <ion-col size="3" size-lg>
          <ion-card>
            <div class = "item item-body">
              <img class = "rounds" src = "./assets/img/h1.jpg">
           </div>
          </ion-card>
        </ion-col>
       

        <ion-col size="3" size-lg>
          <ion-card>
            <div class = "item item-body">
              <img class = "rounds" src = "./assets/img/h2.jpg">
           </div>
          </ion-card>
        </ion-col>


        <ion-col size="3" size-lg>
          <ion-card>
            <div class = "item item-body">
              <img class = "rounds" src = "./assets/img/h3.jpg">
           </div>
          </ion-card>
        </ion-col>

        <ion-col size="3">
          <ion-card>
            <div class = "item item-body">
              <img class = "rounds" src = "./assets/img/h4.jpg">
           </div>
          </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-card>
          <h5>HOOKAH</h5>
          <div class = "item item-body">
             <img class = "col2" src = "./assets/img/hk.jpg">
             <p>All Hookers come with 2 pipes.</p>
          </div>
        </ion-card>
        </ion-col>


        <ion-col size="6">
          <ion-card>
          <h5> PIPES</h5>
          <div class = "item item-body">
                <img class = "col2" src = "./assets/img/pp.jpg">
                <p>Pipes are long and come in pairs.</p> 
             </div>
            </ion-card>
        </ion-col>
     </ion-row>


      <ion-row>
    <ion-col size="12">
  <ion-card>
          <h5>COALS</h5>
    <div class = "item item-body">
       <img class = "full-image" src = "./assets/img/cl.jpg">
       <p>There are 10 coals in each packet.</p> 
    </div>
  </ion-card>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <ion-card>
          <h5>FOIL</h5>
          <div class = "item item-body">
             <img class = "col2" src = "./assets/img/foil.jpg">
             <p> Incl 30 foils in the packet.</p>
          </div>
        </ion-card>
        </ion-col>


        <ion-col size="6">
          <ion-card>
    <h5>SHISHA</h5>
    <div class = "item item-body">
       <img class = "col2" src = "./assets/img/fll.jpg">
     <p> All flavors are available</p>
    </div>
  </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="boxContainer">
      <div class="box">
        <ion-button expand= "full" size="large" shape ="round" class= "submit" (click)="nextpage()">Shop Material</ion-button>
      </div>
  </div>
</ion-content>
