<ion-header>
  <ion-toolbar color = "tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>PASSWORD RESERT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    

    <ion-item lines="full">
      <ion-label position="floating" icon="mail">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span>


    <div class="boxContainer">
      <div class="box">
        <ion-button expand= "full" size="large" shape ="round" class= "submit" (click)="goMail()">Send</ion-button>
      </div>

      <small>
        Please provide the email address that you used when you signed
        up for your ViaKasi account.
      </small>
</div>
</form>
</ion-content>
