<ion-header>
  <ion-toolbar color = "tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/welcome"></ion-back-button>
    </ion-buttons>
    <ion-title> ABOUT US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>
    <ion-card>
    <div class="boxContainer">
      <div class="box">
        <p>Touchline is a small and developing Hookah shop and a delivery servive 
          <br> located at Soshanguve that aims at allowing customers to be able to order hookah or it's materials 
          <br> at the comfort of their own homes in just simple steps from their own devices.
        </p>
      </div>
    </div>
  </ion-card>
    </ion-col>

        <ion-col>
          <ion-card>
          <div class="boxContainer">
            <div class="box">
              <p>You can place orders with the shop from the Touchline website or mobile app, 
                <br>and your products will be delivered directly to your door, usually for a small delivery fee in and around 
                <br> Soshanguve, Mabopane and Garankuwa.
              </p>
      </div>
  </div>
</ion-card>
  </ion-col>

</ion-content>
